name: static-analysis

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.0]

    name: phpstan

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: |
          composer require --dev phpstan/phpstan
          composer update --prefer-stable --prefer-dist --no-interaction

      - name: Analyse code
        run: |
          ./vendor/bin/phpstan analyse